BODY {
    color: #FFFFFF;
    background-color: #336699;
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
}

#logo {
    display: inline-block;
    margin-top: 1em;
    padding-right: 1em;
}

a {
    color: #CCFF00;
}

a:hover, a:active {
    color: #00CCFF;
}

h1 {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    font-size: 5em;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 0.5em;
    padding-bottom: 0.45em;
    vertical-align: bottom;
}

h1#header-one {
    color: #FFCC00;
}

h2 {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    font-size: 3em;
    color: #FFCC00;
    display: block;
}

section {
    margin-top: 2.5em;
    border-bottom: 1px solid #FFCC00;
}

.about-list-label {
    display: inline-block;
    color: #FFCC00;
    text-align: left;
    width: 4.5em;
    margin: 0;
    padding: 0;
}

#about-list {
    display: inline-block;
}

#my-pic {
    display: inline-block;
    vertical-align: top;
    margin-left: 1.5em;
    opacity: 0.75;
    border-radius: 5px;
}

#footer-div p {
    display: block;
    margin-left: auto;
    text-align: right;
}

#link-list li a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    padding: 8px;
    display: block;
    opacity: 0.15;
    border-radius: 32px;
}

#link-list li a:hover, #link-list li a:active {
    opacity: 1.0;
    background-color: #FFCC00;
}

#mail {
    background-image: url("../images/email-32.png");
}

#linkedin {
    background-image: url("../images/linkedin-32.png");
}

#skype {
    background-image: url("../images/skype-32.png");
}

#twitter {
    background-image: url("../images/twitter-32.png");
}

#facebook {
    background-image: url("../images/facebook-32.png");
}

#google-plus {
    background-image: url("../images/googleplus-32.png");
}

#flickr {
    background-image: url("../images/flickr-32.png");
}

#pinterest {
    background-image: url("../images/pinterest-32.png");
}

#github {
    background-image: url("../images/github-32.png");
}

#heroku {
    background-image: url("../images/heroku-32.png");
}

#stackoverflow {
    background-image: url("../images/stackoverflow-32.png");
}