@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';

$default-font: Dosis, sans-serif;
$heading-font: 'Josefin Slab', serif;
$bg-color-top: #0ff;
$bg-color-bottom: #f0f;
$heading-color: #fff;
$heading-alt-color: #ff0;
$default-color: #fff;
$overlay-color: #000;
$link-color: #ff0;

$desktop: 1000px;

@mixin bg-image($image) {
  @include background(
                  linear-gradient(rgba($bg-color-top, .15), rgba($bg-color-bottom, .15)),
                  linear-gradient(rgba($overlay-color, .5), rgba($overlay-color, .5)),
                  url($image) no-repeat center center fixed
  );
  background-size: cover;
}

BODY {
  color: $default-color;
  font-family: $default-font;
  font-size: 2.5vmax;

  @media screen and (max-width: $desktop) {
    font-size: 3vmax;
  }
}

$backgroundImageCount: 6;

@for $i from 1 through $backgroundImageCount {
  .image-#{$i} {
    @include bg-image('../images/background-#{$i}.jpg');
  }
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font;
}

h1 {
  font-size: 5vmax;
}

h2 {
  font-size: 4vmax;
  color: $heading-alt-color;
}

a {
  color: rgba($link-color, .75);
  text-decoration: none;
  border-bottom: 2px solid rgba($link-color, .75);

  &:hover {
    color: $link-color;
    border-bottom: 2px solid $link-color;
  }
}

#logo {
  width: 10vmax;
  margin-bottom: 3vmax;
}

#about-list {
  strong {
    min-width: 16vmax;
    display: inline-block;
    font-weight: 300;
  }
}

#link-list {
  display: flex;
  justify-content: space-around;
  width: 100%;

  li {
    display: inline-flex;

    a {
      color: rgba($link-color, .5);
      border: none;

      &:hover {
        color: $link-color;
      }
    }
  }

  .fa-3x {
    font-size: 5vmax;
  }
}

.section {

  .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  &.center .flex-container {
    align-items: center;
  }

  &.left .flex-container {
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;

    h2 {
      margin-top: 4vmax;
    }
  }
}

li {
  list-style: none;
  display: flex;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 1vmax;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

/* The Loader - credit to http://codepen.io/rickzanutta/pen/yjaeB */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;

  // Modernizr no-js fallback
  .no-js & {
    display: none;
  }
}


#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $bg-color-top;
  animation: spin 1.7s linear infinite;
  z-index: 11;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $bg-color-bottom;
    animation: spin-reverse .6s linear infinite;
  }

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $link-color;
    animation: spin 1s linear infinite;
  }
}

// Bourbon mixins
@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@include keyframes(spin-reverse) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(-360deg));
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}