@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';

$default-font: Raleway, sans-serif;
$heading-font: 'Josefin Slab', serif;
$bg-color-top: #0ff;
$bg-color-bottom: #f0f;
$heading-color: #fff;
$default-color: #fff;
$overlay-color: #000;
$link-color: #ff0;

BODY {
  color: $default-color;
  font-family: $default-font;
  @include background(
                  linear-gradient(rgba($bg-color-top, .15), rgba($bg-color-bottom, .15)),
                  linear-gradient(rgba($overlay-color, .5), rgba($overlay-color, .5)),
                  url(../images/header-bg.jpg)
  );
  font-size: 2.5vmax;
  background-color: #000;
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font;
}

h1 {
  font-size: 5vmax;
}

h2 {
  font-size: 4vmax;
}

a {
  color: rgba($link-color, .5);

  &:hover {
    color: rgba($link-color, 1);
  }
}

#logo {
  width: 10vmax;
  margin-bottom: 3vmax;
}

#about-list {
  strong {
    min-width: 16vmax;
    display: inline-block;
  }
}

#link-list {
  display: flex;
  justify-content: space-around;
  width: 100%;

  li {
    display: inline-flex;
  }

  .fa-3x {
    font-size: 5vmax;
  }
}

.section {

  .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  &.center .flex-container {
    align-items: center;
  }

  &.left .flex-container {
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;

    h2 {
      margin-top: 4vmax;
    }
  }
}

li {
  list-style: none;
  display: flex;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 1vmax;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}